


<div class="container">

  <div class="dress-style-section">
    <div class="text-center mt-5 mb-5">
      <app-text-header textContent="BROWSE BY dress STYLE"></app-text-header>
    </div>
    <div class="row g-3">
      <!-- Casual -->
      <div class="col-md-6 col-lg-3 w-25">
        <div class="style-card">
          <img src="/assets/images/banners/casual.png" alt="Casual">
          <span class="style-label">Casual</span>
        </div>
      </div>
      <!-- Formal -->
      <div class="col-md-6 col-lg-3 w-75">
        <div class="style-card">
          <img src="/assets/images/banners/formal.png" alt="Formal">
          <span class="style-label">Formal</span>
        </div>
      </div>
      <!-- Party -->
      <div class="col-md-6 col-lg-3 w-75">
        <div class="style-card">
          <img src="/assets/images/banners/party.png" alt="Party">
          <span class="style-label">Party</span>
        </div>
      </div>
      <!-- Gym -->
      <div class="col-md-6 col-lg-3 w-25">
        <div class="style-card">
          <img src="/assets/images/banners/gym.png" alt="Gym">
          <span class="style-label">Gym</span>
        </div>
      </div>
    </div>
  </div>
</div>
